<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/Styles/genAdmin.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/Styles/homeAdmin.css" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="/Scripts/jquery-3.3.1.js"></script>
</head>
<body>
    <div id="Page">
        <header>
            <div class="bars">
                <p><i class="fa fa-bars fa-2x"></i>Menu</p>
            </div>
            <h1 id="head">Life Tips</h1>
        </header>


        <main>
            <h2>Edit About Page.</h2>
            <form action="/admin/about" method="POST" enctype="multipart/form-data">
                <textarea name="para1"><%= data.shortAbout %></textarea>
                <textarea name="para1"><%= data.story %></textarea>
                <textarea name="para1"><%= data.mission %></textarea>
                <textarea name="para1"><%= data.vision %></textarea>
                <textarea name="para1"><%= data.who %></textarea>
                <textarea name="para1"><%= data.coreValue %></textarea>
                <input class="post" id="button" type="submit" value="Post your Article">
            </form>

        </main>
    
        <aside>
            <nav>
                <img id="adminImage" alt="admin image">
                <span id="adminName"></span>
                <h3 id="dash"><a href="/admin">Dashboard</a></h3>
                <ul>
                    <li><i class="fa-circle-o  fa-2x"><a href="/admin/posts"></i>Posts</a></li>
                    <li><i></i><a href="/admin/about">Edit About Page</a></li>
                    <li><i></i><a href="/admin/contact">Edit Contact Page</a></li>
                    <li><i class="fa-envelope-o fa-2x"></i><a href="/admin/contactMessages">Messages</a></li>
                </ul>
            </nav>
        </aside>
    </div>
</body>
<script src="/Scripts/admin.js"></script>
</html>